In [1]:
!pip3 install pymongo --upgrade
!pip3 install pymongo[srv]

Requirement already up-to-date: pymongo in /usr/local/lib/python3.6/dist-packages (3.10.0)
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.6/dist-packages (3.10.0)
Collecting dnspython<2.0.0,>=1.16.0; extra == "srv"
  Downloading https://files.pythonhosted.org/packages/ec/d3/3aa0e7213ef72b8585747aa0e271a9523e713813b9a20177ebe1e939deb0/dnspython-1.16.0-py2.py3-none-any.whl (188kB)
     |████████████████████████████████| 194kB 2.8MB/s
Installing collected packages: dnspython
Successfully installed dnspython-1.16.0

In [0]:
# Tutorials @ https://www.w3schools.com/python/python_mongodb_find.asp

In [0]:
# import pymongo


# myclient = pymongo.MongoClient("mongodb+srv://hasee1zahid:homosepian12@haseeb1-ooowb.gcp.mongodb.net/test?retryWrites=true&w=majority")

# db = myclient["mydatabase"]

# col = db["customers"]

mydict = { "name": "Hassan"}

x = col.insert_one(mydict)

In [8]:
for x in col.find():
  print(x)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}
{'_id': ObjectId('5dff239e7cbd9ff5a9398dcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dff24187cbd9ff5a9398dce'), 'name': 'Hassan', 'address': 'Omni Academy'}
{'_id': ObjectId('5dff243b7cbd9ff5a9398dd0'), 'name': 'Hassan'}

In [0]:
mylist = [ 
  { "father": "ali", "address": "Apple st 652"},
  { "name": "2", "mother": "masfah"},
  { "name": "3"}
]

x = col.insert_many(mylist)

In [14]:
for x in col.find():
    print(x)
    dict1 = {
        "name":a,
        "address":b
    }
    col_insertOne(dict1)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}
{'_id': ObjectId('5dff239e7cbd9ff5a9398dcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dff24187cbd9ff5a9398dce'), 'name': 'Hassan', 'address': 'Omni Academy'}
{'_id': ObjectId('5dff243b7cbd9ff5a9398dd0'), 'name': 'Hassan'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd1'), 'name': '1', 'address': 'Apple st 652'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd2'), 'name': '2', 'address': 'Mountain 21'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd3'), 'name': '3', 'address': 'Valley 345'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd4'), 'name': '4', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd5'), 'name': '5', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd6'), 'name': '6', 'address': 'Sky st 331'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd7'), 'name': '7', 'address': 'One way 98'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd8'), 'name': '8', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd9'), 'name': '9', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dda'), 'name': '10', 'address': 'Central st 954'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddb'), 'name': '11', 'address': 'Main Road 989'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddc'), 'name': '12', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dff27937cbd9ff5a9398ddd'), 'father': 'ali', 'address': 'Apple st 652'}
{'_id': ObjectId('5dff27937cbd9ff5a9398dde'), 'name': '2', 'mother': 'masfah'}
{'_id': ObjectId('5dff27937cbd9ff5a9398ddf'), 'name': '3'}

In [0]:
x = mycol.find_one()
print(x)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}

In [0]:
mydict = { "name": "Haseeb", "address": "Cncd1" }

x = mycol.insert_one(mydict)

In [0]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}

In [15]:
myquery = { "name": "Hassan", 'address': 'Omni Academy' }

mydoc = col.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5dff24187cbd9ff5a9398dce'), 'name': 'Hassan', 'address': 'Omni Academy'}

In [0]:
mydoc = mycol.find().sort("name")

for x in mydoc:
  if x['id']=='2':
    list1.append(print(x))

{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}
{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}

In [18]:
doc = col.find().sort("name", -1)

for x in doc:
  print(x)

{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dff239e7cbd9ff5a9398dcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dff24187cbd9ff5a9398dce'), 'name': 'Hassan', 'address': 'Omni Academy'}
{'_id': ObjectId('5dff243b7cbd9ff5a9398dd0'), 'name': 'Hassan'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd9'), 'name': '9', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd8'), 'name': '8', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd7'), 'name': '7', 'address': 'One way 98'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd6'), 'name': '6', 'address': 'Sky st 331'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd5'), 'name': '5', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd4'), 'name': '4', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd3'), 'name': '3', 'address': 'Valley 345'}
{'_id': ObjectId('5dff27937cbd9ff5a9398ddf'), 'name': '3'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd2'), 'name': '2', 'address': 'Mountain 21'}
{'_id': ObjectId('5dff27937cbd9ff5a9398dde'), 'name': '2', 'mother': 'masfah'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddc'), 'name': '12', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddb'), 'name': '11', 'address': 'Main Road 989'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dda'), 'name': '10', 'address': 'Central st 954'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd1'), 'name': '1', 'address': 'Apple st 652'}
{'_id': ObjectId('5dff27937cbd9ff5a9398ddd'), 'father': 'ali', 'address': 'Apple st 652'}

In [20]:
myquery = { 'father': 'ali' }

col.delete_one(myquery)

for x in col.find():
  print(x)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}
{'_id': ObjectId('5dff239e7cbd9ff5a9398dcc'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dff24187cbd9ff5a9398dce'), 'name': 'Hassan', 'address': 'Omni Academy'}
{'_id': ObjectId('5dff243b7cbd9ff5a9398dd0'), 'name': 'Hassan'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd1'), 'name': '1', 'address': 'Apple st 652'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd2'), 'name': '2', 'address': 'Mountain 21'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd3'), 'name': '3', 'address': 'Valley 345'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd4'), 'name': '4', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd5'), 'name': '5', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd6'), 'name': '6', 'address': 'Sky st 331'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd7'), 'name': '7', 'address': 'One way 98'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd8'), 'name': '8', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dd9'), 'name': '9', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398dda'), 'name': '10', 'address': 'Central st 954'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddb'), 'name': '11', 'address': 'Main Road 989'}
{'_id': ObjectId('5dff255c7cbd9ff5a9398ddc'), 'name': '12', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dff27937cbd9ff5a9398dde'), 'name': '2', 'mother': 'masfah'}
{'_id': ObjectId('5dff27937cbd9ff5a9398ddf'), 'name': '3'}

In [0]:
myquery = { "name": "Hassan" }

mycol.delete_all(myquery)

for x in mycol.find():
  print(x)

In [0]:
myquery = { "address": "Highway  37" }
newvalues = { "$set": { "address": "Canyon 123" } }

mycol.update_one(myquery, newvalues)

for x in mycol.find():
  print(x)

{'_id': ObjectId('5dfdd0ac6c94129bd30b8bd6'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5dfdd1fb6c94129bd30b8bd7'), 'name': 'Haseeb', 'address': 'Cncd'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bd8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bda'), 'name': 'Michael', 'address': 'Canyon 123'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bde'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5dfdd2456c94129bd30b8bdf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5dfdd2456c94129bd30b8be3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5dfdd2866c94129bd30b8be4'), 'name': 'Haseeb', 'address': 'Cncd1'}

In [0]:
mycol.drop()